@model BOReserva.Models.gestion_vuelo.CGestion_Vuelo

@using (Html.BeginForm("guardarVuelo", "gestion_vuelo", null, FormMethod.Post, new { @id = "formGuardarVuelo" }))
{
    <!-- Main content -->
    <!-- =============================================== -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h1>
                    Gestion de vuelos
                    <small>Crear un vuelo</small>
                </h1>
                <small>Complete el formulario para la creacion de un nuevo vuelo</small>
            </div>
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-body ">
                        <!-- TEXTBOX CODIGO DE VUELO -->
                        <div class="form-group">
                            <label for="exampleCodVuelo1">Codigo de vuelo (<span style="color: #d9534f">*</span>):</label>
                           @Html.TextBoxFor(m => m._codigoVuelo, null, new { @class = "form-control", @placeholder = "Ej: AA 2254", @id = "codigoVuelo" })
                        </div>
                        <!-- FIN CODIGO DE VUELO -->
                        <!-- DROPDOWN CIUDAD ORIGEN -->
                        <div class="form-group">
                            <label> Ciudad Origen (<span style="color: #d9534f">*</span>):</label>
                            @Html.DropDownListFor(m => m._ciudadOrigen, new SelectList(Model._ciudadesOrigen, "Value", "Text"), "Seleccione una ciudad origen", new {@style = "width: 100%;"})
                        </div>
                        <!-- FIN CIUDAD ORIGEN -->
                        <!-- DATE FECHA DESPEGUE  -->
                        <div class="form-group">
                            <label> Fecha Despegue (<span style="color: #d9534f">*</span>):</label>
                            @Html.TextBoxFor(m => m._fechaDespegue, null, new { @class = "datepicker", @type = "date", @id = "fechadespegue", @style = "width: 100%;" })
                        </div>
                        <!-- FIN FECHA DESPEGUE -->
                        <!-- TIME HORA DESPEGUE  -->
                        <div class="form-group">
                            <label> Hora Despegue (<span style="color: #d9534f">*</span>):</label>
                            @Html.TextBoxFor(m => m._horaDespegue, null, new { @class = "datepicker", @type = "time", @id = "horadespegue", @style = "width: 100%;" })
                        </div>
                        <!-- FIN HORA DESPEGUE -->
                        <!-- DROPDOWN ELEGIR MATRICULA AVION -->
                        <div class="form-group">
                            <label> Elegir avion (<span style="color: #d9534f">*</span>):</label>
                            @Html.DropDownListFor(m => m._matriculaAvion, new SelectList(Model._matriculasAvion, "Value", "Text"), 
                            "Seleccione un avion", new { 
                           @style = "width: 100%;", @disabled="disabled"})
                        </div>
                        <!-- FIN ELEGIR MATRICULA AVION -->
                        <!-- TEXTBOXFOR MODELO AVION -->
                        <div class="form-group">
                            <label> Modelo avion (<span style="color: #d9534f">*</span>):</label>
                            @Html.TextBoxFor(m => m._modeloAvion, null, new { @class = "form-control", @placeholder = "Ej: B777", @id = "modeloAvion", @disabled = "disabled"})
                        </div>
                        <!-- FIN MODELO AVION -->
                        <!-- TEXTBOXFOR CANTIDAD PASAJEROS -->
                        <div class="form-group">
                            <label>Capacidad de pasajeros del avion:</label>
                            @Html.TextBoxFor(m => m._pasajerosAvion, null, new { @class = "form-control", @placeholder = "Ej: 264 Pasajeros", @id = "pasajerosAvion", @disabled = "disabled" })
                        </div>
                        <!-- FIN CANTIDAD PASAJEROS -->
                        <!-- TEXTBOXFOR DISTANCIA MAXIMA VUELO AVION -->
                        <div class="form-group">
                            <label>Distancia maxima:</label>
                            @Html.TextBoxFor(m => m._distanciaMaxima, null, new { @class = "form-control", @placeholder = "Ej: 17 370 km", @id = "distanciaMaxima", @disabled = "disabled" })
                        </div>
                        <!-- DISTANCIA MAXIMA VUELO AVION -->
                        <!-- DROPDOWN CIUDAD DESTINO  -->
                        <div class="form-group">
                            <label>Destino (<span style="color: #d9534f">*</span>):</label>
                            @Html.DropDownListFor(m => m._ciudadDestino, new SelectList(Model._ciudadesDestino, "Value", "Text"),
                            "Seleccione una ciudad destino", new { @style = "width: 100%;", @selected = "Ej: Caracas", @disabled = "disabled" })
                        </div>
                        <!-- FIN CIUDAD DESTINO  -->
                        <!-- DATE FECHA ATERRIZAJE  -->
                        <div class="form-group">
                            <label> Fecha Aterrizaje (<span style="color: #d9534f">*</span>):</label>
                            @Html.TextBoxFor(m => m._fechaAterrizaje, null, new { @class = "datepicker", @type = "date", @id = "fechaaterrizaje", @style = "width: 100%;" })
                        </div>
                        <!-- FIN FECHA ATERRIZAJE  -->
                        <!-- TIME HORA ATERRIZAJE  -->
                        <div class="form-group">
                            <label> Hora Aterrizaje (<span style="color: #d9534f">*</span>):</label>
                            @Html.TextBoxFor(m => m._horaAterrizaje, null, new { @class = "datepicker", @type = "time", @id = "horaaterrizaje", @style = "width: 100%;" })
                        </div>
                        <!--  FIN HORA ATERRIZAJE  -->



                    </div>
                </div>
                <button type="button" class="btn btn-success center-block" id="agregarVuelo">Agregar</button>
            </div>
        </div>
    </div>
            <script>
                $("#agregarVuelo").click(function (e) {
                    e.preventDefault();
                    var form = $("#formGuardarVuelo");
                    $.ajax({
                        url: "gestion_vuelo/guardarVuelo",
                        data: form.serialize(),
                        type: 'POST',
                        success: function (data) {
                            alert("Se guardo");
                            $('formGuardarVuelo')[0].reset();
                        }
                    });
                });
            </script>

}